<!DOCTYPE html>
<!-- フラグメントの定義 -->
<html xmlns:th="http://www.thymeleaf.org"
    th:fragment="layout(title, link, contents)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">SL単語帳</title>
<!-- header.css -->//
<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
<!-- sidebar.css-->
<link rel="stylesheet" th:href="@{/css/sidebar.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/deleteModal.css}">
        
</head>
<body>
    <div id="pcoded" class="pcoded">
      <div class="pcoded-container navbar-wrapper">
        <div th:replace="~{layout/header :: header}"></div>
        <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
            <div th:replace="~{layout/sidebar_user :: sidebar_user}"></div>
            <div th:replace="${contents}"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 削除確認モーダル -->
    <div id="deleteModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeDeleteModal()">&times;</span>
          <h2>本当に削除しますか</h2>
          <p id="deleteTargetName"></p>
          <div class="modal-buttons">
              <button id="confirmDelete" class="confirm-btn">はい</button>
              <button class="cancel-btn" onclick="closeDeleteModal()">いいえ</button>
          </div>
      </div>
    </div>

    <script defer th:src="@{/js/deleteModal.js}"></script>
</body>
</html>