<!DOCTYPE html>
<!-- フラグメントの定義 -->
<html xmlns:th="http://www.thymeleaf.org"
    th:fragment="layout(title, link, contents)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">SL単語帳</title>
<!-- header.css -->//
<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
<!-- sidebar.css-->
<link rel="stylesheet" th:href="@{/css/sidebar.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/user_learning.css}" type="text/css">

</head>
<body>
    <div id="pcoded" class="pcoded">
      <div class="pcoded-container navbar-wrapper">
        <div th:replace="~{layout/header :: header}"></div>
        <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
            <div th:replace="~{layout/sidebar_user :: sidebar_user}"></div>
            <div th:replace="${contents}"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/js/user_learning_wordbooks.js}"></script>

</body>
</html>