<!DOCTYPE html>
<!-- フラグメントの定義 -->
<html xmlns:th="http://www.thymeleaf.org"
    th:fragment="layout(title, link, contents)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">SL単語帳</title>
<!-- header.css -->
<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
<!-- sidebar.css-->
<link rel="stylesheet" th:href="@{/css/sidebar.css}" type="text/css">
<!-- style.css-->
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
    <div id="pcoded" class="pcoded">
    <div class="pcoded-container navbar-wrapper">
        <div th:replace="~{layout/header :: header}"></div>
        <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div th:replace="~{layout/sidebar_admin :: sidebar_admin}"></div>
            <div th:replace="${contents}"></div>
        </div>
        </div>
    </div>
    </div>
</body>
</html>