<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
    <header th:fragment="header" class="header">
        <span class="navbar-title">SL単語帳</span>
        <div class="user-menu">
            <span class="user-name" sec:authentication="principal.username">ユーザー名</span>
            <div class="dropdown-menu">
                <a href="#" th:href="@{/logout}" class="logout-btn">ログアウト</a>
            </div>
        </div>
    </header>
</body>
</html>