<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
  <nav th:fragment="sidebar" class="pcoded-navbar">
    <ul>
      <li>
        <a th:href="@{/user}">
          <span>HOME</span>
        </a>
      </li>
      <li>
        <a th:href="@{/user/categories}">
          <span>辞書</span>
        </a>
      </li>
      <li>
        <a th:href="@{/user/workbooks}">
          <span>MY単語帳</span>
        </a>
      </li>
      <li>
        <a th:href="@{/user/learning/wordbooks}">
          <span>学習機能</span>
        </a>
      </li>
      <li>
        <a th:href="@{/user/mypage/edit}">
          <span>マイページ</span>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>
