<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:replace="~{layout/base_user :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
    >
<head>
  <title>学習機能</title>
</head>
<body>
  <main class="content">
  <div class="pcoded-content">
    <div class="page-header">
              <h2>学習機能</h2>
    </div>
    <div class="pcoded-inner-content">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">MY単語帳</th>
            <th scope="col">説明</th>
            <th scope="col">カテゴリー</th>
            <th scope="col">問題数</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="wordbook : ${listWordbooks}">
            <th scope="row" th:text="${wordbook.name}"></th>
            <td th:text="${wordbook.describe}"></td>
            <td th:text="${wordbook.wordbookWords[0].word.category.name}"></td>
            <td>
              <form th:action="@{/user/learning/wordbooks/{id}(id=${wordbook.id})}" method="GET">
                <input type="number" name="nums" id="nums" value="" min="1" th:max="${#lists.size(wordbook.wordbookWords)}" required>
                <button type="submit" class="btn">学習開始</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </main>
</body>
</html>