<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:replace="~{layout/base_user :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
    >
<head>
  <title>学習機能</title>
</head>
<body>
  <main class="content">
  <div class="pcoded-content">
    <div class="page-header">
              <h2>学習機能</h2>
    </div>
    <div class="pcoded-inner-content">
      <div>
        <h4>問題数</h4>
        <div id="question-number"></div>
      </div>

      <div class="flashcard-container">
        <!-- フラッシュカード -->
        <div class="card">
          <!-- 表面 -->
          <div class="front">
            <!--単語名-->
              <div id="word-name" class="word-name-container"></div>
          </div>
          <!-- 裏面 -->
          <div class="back">
            <table>
              <tr><!--単語の名前-->
                <th>名前</th>
                <td class="word-name-container"></td>
              </tr>
              <tr><!--単語の意味-->
                <th>意味</th>
                <td id="word-describe" class="word-describe-container"></td>
              </tr>
              <tr><!--単語の説明-->
                <th>説明</th>
                <td id="word-detail_describe" class="word-detail_describe-container"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button id="prev-btn" class="prev-btn">前へ</button>
        <button id="next-btn" class="next-btn">次へ</button>
        <a th:href="@{/user/learning/wordbooks}" class="cancel-btn">終了</a>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    var listWords = /*[[${listWords}]]*/ "";
    console.log(listWords);
  </script>
  </main>
</body>
</html>


