<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ログイン</title>
</head>

<body>
      <form th:action="@{/login}" method="post" class="form-signin">
        <h3>Welcome Back!</h3>
        <h3>Please Sign In</h3>
        <hr>
        <br>
        <!-- <div th:if="${param.error}">
          <div th:if="${session.containsKey('SPRING_SECURITY_LAST_EXCEPTION')}">
            <div class="alert alert-danger">
              <i class="bi bi-exclamation-triangle-fill"></i>
              <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
            </div>
          </div>
        </div> -->
        <input type="text" name="username" placeholder="ユーザー名" required />
        <input type="password" name="password" placeholder="パスワード" required />
        <button name="Submit" value="Login" type="submit">Login</button>
        <p></p>
      </form>
      <form th:action="@{/login/signup}">
        <button name="Submit" value="signup" type="submit">新規登録</button>
      </form>
    </div>
  </div>
</body>

</html>