<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8">
    <title>SL単語帳 管理画面</title>
</head>
<body>
    <main class="content">
        <div class="word-detail-container">
            <h1 th:text="${word.name}">名前</h1>
            <p th:text="${word.describe}">意味</p>

            <h2>説明</h2>
            <p th:text="${word.detail_describe}">説明</p>

            <h2>使用例</h2>
            <pre class="code-block">
public class Car {
    String brand;
    int speed;

    public void accelerate() {
        speed += 10;
    }
}
            </pre>

            <h2>登録日時</h2>
            <p th:text="${word.createdAt}">登録日時</p>

            <h2>更新日時</h2>
            <p th:text="${word.updatedAt}">更新日時</p>

            <div class="button-container">
                <a th:href="@{/admin/categories/{categoryId}(categoryId=${category.id})}" class="back-btn">一覧画面に戻る</a>
            </div>
    </main>
</body>
</html>